div.ninzu
  h1 只今の人数
  p #{@num}人
div.__Red
  p = @message
sass:
  .ninzu
    width: 500px
    margin: 0 auto
    padding: 2rem
    text-align: center
    background: #ddf
    h1
      margin: 0
      padding: 0
    p
      margin: 0
      padding: .5rem
      display: inline-block
      font-weight: bold
      font-size: 3rem
      background: black
      color: white
